<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="admin/fragments  :: head(~{::title})">
    <title>博客后台管理-博客列表</title>
</head>
<body>
<!--导航-->
<nav th:replace="admin/fragments  :: menu(1)">
</nav>

<div class="ui attached pointing menu">
    <div class="ui container">
        <div class="right menu">
            <a href="#" th:href="@{/admin/blog/input}" class="item">发布</a>
            <a href="#" th:href="@{/admin/blogs}" class="active item">列表</a>
        </div>
    </div>
</div>

<!--中间内容-->
<div id="waypoint" class="m-container-small m-padded-tb-large">
    <div class="ui container">
        <div class="ui success message">
            <i class="close icon"></i>
            <div class="header">提示：</div>
            <p>操作成功！</p>
        </div>

        <form action="#" method="post" class="ui segment form">
        <div class="inline fields">
            <div class="field">
                <input type="text" name="title" placeholder="标题">
            </div>
            <div class="field">
                <div class="ui selection dropdown">
                    <input type="hidden" name="type">
                    <i class="dropdown icon"></i>
                    <div class="default text">分类</div>
                    <div class="menu">
                        <div class="item" data-value="1">错误日志</div>
                        <div class="item" data-value="2">技术入门</div>
                    </div>
                </div>
            </div>
            <div class="field">
                <div class="ui checkbox">
                    <input type="checkbox" id="recommend" name="recommend">
                    <label for="recommend">推荐</label>
                </div>
            </div>
            <div class="field">
                <button class="ui blue mini basic button">
                    <i class="search icon"></i>搜索
                </button>
            </div>
        </div>
    </form>

        <table class="ui celled table">
            <thead>
            <tr>
                <th></th>
                <th>标题</th>
                <th>类型</th>
                <th>推荐</th>
                <th>更新时间</th>
                <th>操作</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>1</td>
                <td>练习</td>
                <td>学习</td>
                <td>是</td>
                <td>2020-10-01 09:16</td>
                <td>
                    <a href="#" class="ui mini basic blue button">编辑</a>
                    <a href="#" class="ui mini basic red button" onclick="return confirm('确定要删除该分类吗？三思啊! 删了可就没了！')">删除</a>
                </td>
            </tr>
            </tbody>
            <tfoot>
            <tr>
                <th colspan="6">
                    <div class="ui  floated pagination menu">
                        <a class="mini icon item">上一页</a>
                        <a class="mini icon item">下一页</a>
                    </div>
                    <a href="#" class="ui right floated teal basic button">新增</a>
                </th>
            </tr>
            </tfoot>
        </table>
    </div>
</div>

<div id="toolbar" class="m-padding-big m-fixed m-right-bottom">
    <div class="ui vertical icon buttons">
        <div id="toTop-button" href="#" class="go top ui button"><i class="chevron up icon"></i></div>
    </div>
</div>

<!--底部footer-->
<footer class="ui inverted vertical segment m-padded-tb-large">
    <div class="ui center aligned container">
        <div class="ui inverted divided stackable grid">
            <div class="three wide column">
                <img src="../../static/images/1005-800x450.jpg" class="ui round image">
            </div>
            <div class="three wide column">
                <h4 class="ui inverted header">最新博客</h4>
                <div class="ui inverted list"></div>
                <a href="#" class="item m-opacity-tiny m-white">用户故事{User Story}</a><br/>
                <a href="#" class="item m-opacity-tiny m-white">用户故事{User Story}</a><br/>
                <a href="#" class="item m-opacity-tiny m-white">用户故事{User Story}</a><br/>
            </div>
            <div class="three wide column">
                <h4 class="ui inverted header">联系我</h4>
                <div class="ui inverted link list"></div>
                <a href="#" class="item m-opacity-tiny m-white">邮箱：123456789@qq.com</a><br/>
                <a href="#" class="item m-opacity-tiny m-white">QQ：123456798</a><br/>
                <a href="#" class="item m-opacity-tiny m-white">电话：123456789100</a><br/>
            </div>
            <div class="seven wide column">
                <h4 class="ui inverted header">about</h4>
                <div class="ui inverted link list"></div>
                <a href="#" class="item m-opacity-tiny m-white">用户故事{User Story}</a><br/>
                <a href="#" class="item m-opacity-tiny m-white">用户故事{User Story}</a><br/>
                <a href="#" class="item m-opacity-tiny m-white">备案号 xxxxxxxxxxxxxx</a><br/>
            </div>
        </div>
        <div class="ui inverted section divider"></div>
        <p class="m-text-thin m-text-spaced m-opacity-mini">Copyright @2020-2020 SimpleM Designed by SimpleM</p>
    </div>
</footer>

<script src="../../static/lib/tocbot/tocbot.js"></script>
<script src="../../static/jquery-3.5.1/jquery-3.5.1.min.js"></script>
<script src="../../static/lib/prismJS/prism.js"></script>
<script src="../../static/Semantic-UI-CSS-master/semantic.min.js"></script>
<script src="../../static/lib/flesler/jquery.scrollTo.js"></script>
<script src="../../static/lib/waypoints/jquery.waypoints.js"></script>

<script>
    // $('#payButton').popup({
    //     popup : $('.payQR.popup'),
    //     on : 'click',
    //     position: 'bottom center'
    // });


    $('.ui.dropdown').dropdown({
        on: 'click'
    });

    $('#toTop-button').click(function(){
        $(window).scrollTo(0,500);
    });

    var waypoint = new Waypoint({
        element: document.getElementById('waypoint'),
        handler: function (direction) {
            if(direction === 'down'){
                $('#toolbar').show(300);
            }else {
                $('#toolbar').hide(500);
            }
            console.log('Scrolled to waypoint!' + direction)
        }
    });

    //消息提示关闭初始化
    $('.message .close')
        .on('click', function () {
            $(this)
                .closest('.message')
                .transition('fade');
        });
</script>
</body>
</html>