<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="admin/fragments  :: head(~{::title})">
    <title>博客后台管理</title>
</head>
<body>
<!--导航-->
<nav th:replace="admin/fragments  :: menu(0)">
</nav>

<!--中间内容-->
<div id="waypoint" class="m-container m-padded-tb-large">
    <div class="ui container">

            <div class="ui success large message">
                <h2>Hi，<span th:text="${session.user.nickname}"></span></h2>
                <p>博客管理员，欢迎登录！</p>
            </div>

        <img src="/images/bg.jpg" alt="#" class="ui rounded bordered fluid image">
    </div>

</div>

<div id="toolbar" class="m-padding-big m-fixed m-right-bottom">
    <div class="ui vertical icon buttons">
        <div id="toTop-button" href="#" class="go top ui button"><i class="chevron up icon"></i></div>
    </div>
</div>


<th:block th:replace="admin/fragments :: script">

</th:block>

<script>
    //下滑就显示返回顶部的图标
    $('.ui.dropdown').dropdown({
        on: 'click'
    });
    //返回顶部
    $('#toTop-button').click(function () {
        $(window).scrollTo(0, 500);
    });
</script>
</body>
</html>